<div class="page-header">
  <h2><%= @logo.title %></h2>
</div>

<div class="row-fluid">
  <div class="span6">
    <%= image_tag @logo.image.url(:medium).to_s if @logo.image? %>

  </div>

  <div class="span6">
    <p class="lead">
      <%= @logo.description %>
    </p>
    <h4>Present in...</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>In home carrousel</th>
          <th>In gallery slider</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= humanize(@logo.carrousel) %></td>
          <td><%= humanize(@logo.slider) %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'Edit', edit_logo_path(@logo), :class => 'btn' %>
    <%= link_to 'Back', logos_path, :class => 'btn' %>
  </div>
</div>
